<h1>Your Virtual Business Card</h1>

<p>First Name: <input data-bind="value: firstName" /></p>
<p>Last Name: <input data-bind="value: lastName" /></p>
<p>Email: <input data-bind="value: emailAddress" /></p>
<p>Phone: <input data-bind="value: phoneNumber" /></p>

<script src="scripts/cardViewModel.js"></script>
